.index-top-content {
    z-index: 3;
    margin-top: -280px;
  }
  .margin-left {
    margin-left: 200px;
    
  }

  /* .padding-container {
    padding-left: 40px;
    padding-right: 40px;
  } */

  .toptop {
    margin-bottom: 80px;
  }