.fixed-left {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: white;
  }
  .img-logo {
    width: 120px;
    height: auto;
    margin-top: 20px;
  }